
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.footer{
   background-color:black;
   color:white;
   text-align: center;
   height: 350px;
}
.newspaper{
  column-count: 4;
  column-gap: 20px;
  column-rule: 1px;
  font-size: 17px;
  font-family: inherit;
  color: dodgerblue;
  background-color: black;
          }
.mainContent{
    height:1200px;
    width:fixed;
    text-align: center;
    color: white;
    background-image: url("background.jpg");
    font-style: Gibson;
}
fieldset{
    border: 1px solid rgb(255,232,57);
    width: 300px;
    margin:auto;
    height:300px;
    text-align: center;
    border:2px,solid;
    border-color: skyblue;
}
.jumbotron{
    background-image: url("background.jpg");
    background-image: fixed;
    width: cover;
    height: 899px;
     font-style: Gibson;
}
.jumbotron-special{
    width: cover;
    height: 200px;
    background-color: beige;
    
}
p{
    font-size:15px;
}
.jumbotron-high{
    height:200px;
    
}